@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.input {
  @apply w-full px-4 py-3 border rounded-xl focus:outline-none focus:ring-2 focus:ring-[#34A394];
}

.submit-btn {
  @apply w-full bg-[#34A394] text-white py-3 rounded-xl hover:bg-[#2C897F] transition;
}
